pastebin.db

# Ignore logs directory
logs/

# Ignore images directory
images/

# Ignore zips directory
zips/

# Python cache
__pycache__/
*.pyc
*.pyo

# Application log
app.log

# Anomaly scores directory
anomaly_scores/

# Model directory
models/
